*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.background{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: black;
    width: 45vw;
    height: 70vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image{
    background-color: black;
    width: 0px;
    height:543px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

canvas{
    position: absolute;
}

.input{
    height: 20%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input{
    height: 30%;
    width: 90%;

}

#dois{
    height: 100%;
}

#custom{
    height: 100%;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

#start-button{
    background-color: white;
}